	* {
		box-sizing: border-box;
		font-family: "Lucida Console", "Courier New", monospace;
	}
	
	p {
		font-size: 115%;
		color: white;
		margin-left: 2%;
		margin-right: 5%;
		vertical-align: middle;
	}
	
	h2 {
		margin-bottom: 0px;
	}
	
	
	
	.quadrant {
		float: left;
		background-color: black;
		width: 50%;
		height: 50%;
		padding-left: 2%;
		padding-right: 2%;
	}
	
	
	
	.form-field {
		display: flex;
		align-items: left;
		margin-bottom: 1%;
		margin-right: auto;
		margin-left: auto
	}
	  
	.form-field label {
		margin: auto;
		flex-basis: 30%;
	}
	  
	.form-field input[type="text"] {
		flex-basis: 70%;
		color: white;
		background-color: black;
	}
	  
	 
	 
	.red-dot {
		height: 12.5%;
		width: 7.5%;
		vertical-align: middle;
		background-color: red;
		border-radius: 50%;
		display: inline-block;
	}
	
	.green-dot {
		height: 12.5%;
		width: 7.5%;
		vertical-align: middle;
		background-color: green;
		border-radius: 50%;
		display: inline-block;
	}
	
	.gray-dot {
		height: 12.5%;
		width: 7.5%;
		vertical-align: middle;
		background-color: gray;
		border-radius: 50%;
		display: inline-block;
	}
	    
	  
	  
	.button-grayed {
		color: black;
		font-weight: bold;
		border-radius: 50%;
		width: 20%;
		height: 33%;
		margin-right: 7.5%;
		font-size: 110%;
		text-align: center;
		background: linear-gradient(to bottom, #404040, #202020);
		position: relative;
	}
	  
	.button-grayed:after {
		content: "";
		width: 60%;
		height: 60%;
		position: absolute;
		top: 20%;
		left: 20%;
		border-radius: 50%;
		background: rgba(128, 128, 128, 0.3);
	}
	  
	.button-grayed:hover {
		background: linear-gradient(to bottom, #808080, #C0C0C0);
		cursor: pointer;
	}
	  
	  
	  
	  
	.button-active {
		color: white;
		font-weight: bold;
		border-radius: 50%;
		width: 20%;
		height: 33%;
		margin-right: 7.5%;
		font-size: 110%;
		text-align: center;
		background: linear-gradient(to bottom, #FF0000, #8B0000);
		position: relative;
	}
	  
	.button-active:after {
		content: "";
		width: 60%;
		height: 60%;
		position: absolute;
		top: 20%;
		left: 20%;
		border-radius: 50%;
		background: rgba(255,255,255,0.3);
	}
	  
	.button-active:hover {
		background: linear-gradient(to bottom, #CC0000, #8B0000);
		cursor: pointer;
	}